{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-vue-jsx",
    "transform-runtime",
    ["import", { "libraryName": "antd-mobile","style": true}]
  ]
}
