$bgColor: blue;
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
<<<<<<< HEAD
  .gt{
    font-size: 24px;
  }
  .selected{
    color: rgb(51, 163, 244);
  }
=======
>>>>>>> 05078a45a87c14ee7d45c2a3bb21559a5e4c1854
}
