.gt-accordion{
  background-color: #fff;
  .gt-accordion-item {
    position: relative;
    height: 100%;
    transition: $gt-accordion-transition;
  }
  .gt-item-icon-right{
    z-index: 10;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    font-size: 18px;
    color: #444;
    border-width: 1px 0 1px 0;
    border-style:solid;
    border-color: #ccc;
    background-color: #fff;
    .gt-arrow-down{
      position: absolute;
      top: 0;
      right: 20px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      transition: $gt-accordion-transition;
      transform: rotate(0deg);
      font-size: 18px;
      &.rotated {
        transform: rotate(180deg);
      }
    }
  }
  .gt-accordion-content{
    z-index: 1;
    padding: 20px;
    font-size: 16px;
  }
}

.gt-accordion-enter-active, .gt-accordion-leave-active {
  transition: $gt-accordion-transition;
  -webkit-transition: $gt-accordion-transition;
  opacity: 1;
}

.gt-accordion-enter, .gt-accordion-leave-to {
  opacity: 0;
}
