.gt-card{
  min-height: 80px;
  background: #fff;
  margin: 8px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  .gt-card-header,.gt-card-footer{
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 2px 2px 0 0;
    font-size: 16px;
    min-height: 48px;
    padding: 4px 10px;
  }
  .gt-card-header-item,.gt-card-footer-item{
    flex:1;
    &:last-child{
      text-align: right;
    }
  }
  .gt-card-header{
    border-bottom: 1px solid #ccc;
  }
  .gt-card-footer{
    border-top: 1px solid #ccc;
  }
  .gt-card-content{
    min-height: 80px;
  }
}
