.git-grids {
  position: relative;
  margin: 10px 0;
  background-color: $gt-grids-background-color;
  .gt-row {
    position: relative;
    margin: 0;
    padding: 0;
    .gt-col {
      position: relative;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
}